<div id="footer">
  <div class="container">
    <%= image_tag "html5-color.png", :alt => 'HTML5+CSS3' %>
    <a href="http://www.acm.org/">
      <%= image_tag "acm-color.png", :alt => 'Association for Computing Machinery' %>
    </a>
    <a href="http://www.cmu.edu/">
      <%= image_tag "cmu-color.png", :alt => 'Carnegie Mellon University' %>
    </a>
    <span id="copyright">
      &copy; <%= Time.now.year %> acm@cmu
      <table>
        <tr>
         <td>developed by Adam Weis</td>
        </tr>
        <tr>
         <td>designed by Vincent Siao</td>
        </tr>
      </table>
    </span>
  </div>
</div>
