<div id = "header">

  <table style="height: 59px;">
    <tr>
      <td id = "header_logo"> <a style="color: #7AE969" href="<%=home_path%>">ACM</a><%=link_to('@CMU',home_path) %></td>
      <td id = "header_tagline">association for computing machinery at carnegie mellon university</td>
      <td style="padding-left: 100px;"><%=image_tag("acm-logo.jpg", :size => "75x75")%></td>
    </tr>
  </table>

</div>
