<%= render :partial => 'partials/auth' %>
<div id="header">
  <div class="container">
    <div id="logo">
      <a href="/home"><%= image_tag "title.png", :id => 'title', :alt => 'acm@cmu' %></a><br />
    </div>
<%= render :partial => 'partials/navigation' %>
  </div>
</div>
