<div id="header">
  <h1><span class="acm">ACM</span>@CMU</h1>
  <span id="tagline">association for computing machinery at carnegie mellon university</span>
  <h2>Working on the design! Chill your balls.</h2>
  <!--
  <%=image_tag("acm-logo.jpg", :size => "75x75")%><
  -->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= render :partial => 'partials/navigation' %>
</div>
