<%= render :partial => 'partials/auth' %>
<div id="header">
  <div class="container">
    <div id="logo">
      <a href="/home"><%= image_tag "title.png", :id => 'title', :alt => 'acm@cmu' %></a><br />
      <span id="tagline">association for computing machinery at carnegie mellon university</span>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= render :partial => 'partials/navigation' %>
  </div>
</div>
