<div id = "header">

  <table style="height: 59px;">
    <tr>
      <td id = "header_logo"> <span style="color: #7AE969">ACM</span>@CMU</td>
      <td id = "header_tagline">association for computing machinery at carnegie mellon university</td>
    </tr>
  </table>

</div>
