/*****************
 * Basic CSS
 *****************
 */

@font-face {
  font-family: DejaVu Serif;
  src: url("/images/DejaVuSerif.eot")
}

@font-face {
  font-family: DejaVu Serif;
  src: url("/images/DejaVuSerif.ttf")
}

@font-face {
  font-family: DejaVu Sans;
  src: url("/images/DejaVuSans.eot")
}

@font-face {
  font-family: DejaVu Sans;
  src: url("/images/DejaVuSans.ttf")
}

@font-face {
	font-family: Aller;
	src: url("/images/Aller_Lt.eot") /* EOT file for IE */
}

@font-face {
	font-family: Aller;
	src: url("/images/Aller_Lt.ttf") /* TTF file for CSS3 browsers */
}

body {
  font-family:Aller, Helvetica, Arial, sans-serif;
}

p {
  padding-top:1em;
  font-size:1.2em;
  line-height:1.5em;
}

a {
  color:#0182ac;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family:DejaVu Serif,Georgia,serif;
}

h1 {
  font-size:3em;
  color:#900;
}

h2 {
  font-size:2em;
  font-style:italic;
  margin-top:0.8em;
  padding-top:1em;
  border-top:1px solid #900;
}

/*****************
 * Navigation CSS
 *****************
 */

ul#nav {
  position:absolute;
  top:50px; right:50px;
  margin:auto;
  padding:20px 0 0;
  height:20px;
}
 
ul#nav li {
  display:inline;
  width:20px;
}

ul#nav li a {
  padding:4px 8px;
  margin:6px;
  font-size:0.8em;
  color:#000;
  text-shadow: 0 1px 0 rgb(255,255,255);
}

ul#nav li.current a, ul#nav li a:hover {
  color:#fff;
  text-decoration:none;
  text-shadow: 0 1px 0 rgb(0,0,0);
  background:#900;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*****************
 * Layout CSS
 *****************
 */

.container {
  position:relative;
  margin:auto;
  width:960px;
}

.clear {
  clear:both;
}

#auth {
  position:relative;
  background:#666;
  display:none;
  height:170px;
  background:#666 url('/images/loginbg.gif') no-repeat left;
}

a#l-open, a#l-close {
  z-index:9;
  position:absolute;
  background:url('/images/nav.png');
  width:30px;
  height:0;
  padding-top:20px;
  overflow:hidden;
}

a#l-open {
  top:0px;
  right:20px;
  background-position:-210px -10px;
}

a#l-close {
  display:none;
  bottom:0px;
  right:20px;
  background-position:-260px -10px;
}

a#l-open:hover { background-position:-210px -40px }
a#l-close:hover { background-position:-260px -40px }

#header {
  background:#fff url('/images/headerbg.gif') repeat-x;
  border-bottom:10px solid #900;
  padding-bottom:30px;
  margin-bottom:3em;
}

#logo { display:inline; text-align:center; }
#title { margin-top:40px }
#tagline { 
  position:relative;
  top:-0.5em; left:5em;
  font-family:Georgia, serif; 
  font-style:italic;
  font-size:0.7em;
  text-shadow: 0 1px 0 rgb(255,255,255);
}

#main {
  border-width:10px 0;
}

#sidebar {
  display:inline;
  float:left;
  width:240px;
}

#content {
  float:left;
}

#footer {
  position:relative;
  top:3em;
  clear:both;
  background:#fff url('/images/footerbg.gif') repeat-x;
  border-top:10px solid #900;
}

#footer .container { 
  background:url('/images/dip.gif') top center no-repeat;
  height:100px;
  padding:10px;
}

#footer img {
  float:left;
  margin-right:10px;
}

#footer #copyright {
  color:#aaa;
  padding:15px 0;
  float:right;
  font-family:Georgia, serif;
  font-size:0.7em;
  text-shadow: 0 1px 0 rgb(255,255,255);
}

/*******************
 * About Page CSS
 *******************
 */

dl#board {
  margin-top:2em;
}

dl#board .profile {
  display:inline;
  float:left;
  margin:0 0 30px 20px;
  width:280px
}

dl#board .profile img {
  float:left;
  margin:0 10px 5px 0;
  border:2px solid #900;
}

dl#board .profile dt {
  font-family:DejaVu Serif, Georgia, serif;
  font-size:0.8em;
  margin-bottom:0.3em;
}

dl#board .profile dd {
  color:#900;
  font-size:1.2em;
}

dl#board .profile p {
  font-size:0.8em;
}

/***********************
 * Activities Page CSS
 ***********************
 */

#we-title {
  display:none;
  text-align:center;
  text-transform:uppercase;
  font-size:1.2em;
  font-family:Aller, Helvetica, Arial, sans-serif;
  color:#0182ac;
  margin-bottom:0.5em;
}

#we-menu {
  margin:auto;
  width:800px;
  height:500px;
  background:url('/images/we.png');
}

#we-menu li {
  display:inline;
  width:200px;
  height:500px;
}

#we-menu li a {
  float:left;
  width:200px;
  height:0;
  padding-top:500px;
  overflow:hidden;
}

#we-menu li a:hover { background:url('/images/we-over.png') }
#we-menu li a#link-code:hover { background-position:-200px 0; }
#we-menu li a#link-play:hover { background-position:-400px 0; }
#we-menu li a#link-write:hover { background-position:-600px 0; }

#we-work, #we-code, #we-play, #we-write {
  display:none;
}

