/*****************
 * Basic CSS
 *****************
 */

@font-face {
  font-family: DejaVu Serif;
  src: url("/images/DejaVuSerif.eot")
}

@font-face {
  font-family: DejaVu Serif;
  src: url("/images/DejaVuSerif.ttf")
}

@font-face {
  font-family: DejaVu Sans;
  src: url("/images/DejaVuSans.eot")
}

@font-face {
  font-family: DejaVu Sans;
  src: url("/images/DejaVuSans.ttf")
}

body {
  font-family:'Open Sans', Aller, Helvetica, Arial, sans-serif;
  font-weight:300;
}

p {
  padding-top:1em;
  font-size:1em;
  line-height:1.5em;
}

a {
  color:#0182ac;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family:DejaVu Serif,Georgia,serif;
}

h1 {
  font-size:3em;
  color:#900;
}

/*****************
 * Navigation CSS
 *****************
 */

ul#nav {
  position:absolute;
  top:50px; right:50px;
  margin:auto;
  padding:20px 0 0;
  height:20px;
}
 
ul#nav li {
  display:inline;
  width:20px;
}

ul#nav li a {
  padding:4px 8px;
  margin:6px;
  font-size:0.8em;
  color:#000;
  text-shadow: 0 1px 0 rgb(255,255,255);
}

ul#nav li.current a, ul#nav li a:hover {
  color:#fff;
  text-decoration:none;
  text-shadow: 0 1px 0 rgb(0,0,0);
  background:#900;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*****************
 * Layout CSS
 *****************
 */

.headline {
  padding:2em 0;
  background:#222 url('/images/headline.png') center no-repeat;
}

.headline h1 {
  color:#fff;
  text-shadow:0 3px 0 #000;
}

.headline p {
  color:#aaa;
  font-weight:300;
  font-size:1.2em;
  text-shadow:0 1px 0 #000;
}

.headline img {
  float:right;
  margin-left:10px;
}

.headline h1 img {
  float:none;
}

.content .aside {
  background-color:#eee;
  color:#222;
  font-size:0.7em;
  font-weight:400;
  line-height:1.5em;
  margin:20px 20px 20px 0;
  padding:15px 10px;
  float:left;
  display:inline;
  width:200px;
  border:1px solid #900;
  border-width:1px 0;
}

.content .aside h2 {
  border:none;
  margin:0; padding:0;
}

.content p {
  line-height:1.8em;
}

.content h2 {
  padding-left:10px;
  padding-bottom:0.2em;
  width:710px;
  float:right;
  font-size:1.2em;
  margin:2em 0 0.5em;
  border-bottom:1px solid #900;
}

.content h3 {
  font-family:'Open Sans';
  width:720px;
  float:right;
  margin-top:1em;
  font-size:1.2em;
}

.container {
  display:block;
  position:relative;
  margin:auto;
  width:960px;
}

.clear {
  clear:both;
}

#auth {
  color:#eee;
  position:relative;
  background:#222 url('/images/headline.png') no-repeat center;
  padding-left:10px;
}

#auth form {
  padding-top:10px;
}

form label {
  display:block;
  color:#fff;
  font-size:0.7em;
  width:25%;
  margin:0 5px 5px;
}

form input {
  font-family:'Open Sans';
  font-size:0.8em;
  background-color:#fff;
  border:0;
  padding:5px 10px;
  margin:0 5px 10px;
}

form select {
  background:#fff none;
  border:0 none;
  padding:5px 10px;
  margin:0 5px 10px;
}

form input[type="submit"] {
  color:#fff;
  cursor:pointer;
  background:#555 none;
}

form input[type="submit"]:hover {
  background-color:#666;
}

#main form dl {
  /*border:1px solid #666;
  padding:1em;*/
  margin:2em 0 1em;
}

#main form.login {
  width:60%;
}

#main form.login input[type="text"], 
#main form.login input[type="password"] {
  width:50%;
}

#main form input[type="text"], #main form input[type="password"] {
  width:30%;
}

#auth ul.nav li {
 display:inline-block;
}

#auth a {
  display:block;
  color:#fff;
  font-size:0.9em;
  padding:10px 10px 13px;
}

#auth a:hover {
  background:#444;
  border-bottom:3px solid #900;
  padding-bottom:10px;
  text-decoration:none;
}

#l-open, #l-close {
  z-index:9;
  position:absolute;
  background:url('/images/nav.png');
  width:30px;
  height:0;
  padding-top:20px;
  overflow:hidden;
  cursor:pointer;
}

#l-open {
  top:0px;
  right:20px;
  background-position:-210px -10px;
}

#l-close {
  bottom:0px;
  right:20px;
  background-position:-260px -10px;
}

#l-open:hover { background-position:-210px -40px }
#l-close:hover { background-position:-260px -40px }

#header {
  background:#fff url('/images/headerbg.gif') repeat-x;
  border-bottom:10px solid #900;
  padding-bottom:30px;
}

#logo { display:inline; text-align:center; }
#title { margin-top:40px }
#tagline { 
  position:relative;
  top:-0.5em; left:5em;
  font-family:Georgia, serif; 
  font-style:italic;
  font-size:0.7em;
  text-shadow: 0 1px 0 rgb(255,255,255);
}

#main {
  border-width:10px 0;
}

#main .container div:last-child {
  margin-bottom:2em;
}

#main .headline .container div:last-child {
  margin:0;
}

.content p {
  font-size:0.95em;
  width:720px;
  float:right;
}

.content p:last-child {
  margin-top:2em;
  position:relative;
  top:-2em;
}

.article {
  margin-top:2em;
  position:relative;
  top:-2em;
}

#footer {
  clear:both;
  background:#fff url('/images/footerbg.gif') repeat-x;
  border-top:10px solid #900;
}

#footer .container { 
  background:url('/images/dip.gif') top center no-repeat;
  height:100px;
  padding:10px;
}

#footer img {
  float:left;
  margin-right:10px;
}

#footer #copyright {
  color:#aaa;
  padding:15px 0;
  float:right;
  font-family:Georgia, serif;
  font-size:0.7em;
  text-shadow: 0 1px 0 rgb(255,255,255);
}

table {
  margin:2em 0;
  width:100%;
  border-collapse:collapse;
  font-size:0.8em;
  color:#aaa
}

th {
  font-weight:400;
  background-color:#666;
  color:#eee;
}

table, th, td {
  border:1px solid #666;
  border-width:1px 0;
}

th, td {
  padding:0.5em 1em;
}

tr {
  width:100%;
  text-align:left;
  background-color:#333
}

tr.alt {
  background-color:#444
}

/*******************
 * About Page CSS
 *******************
 */

dl#board {
  margin-top:4em;
  position:relative;
  top:-2em;
}

dl#board .profile {
  display:inline;
  float:left;
  margin:0 0 30px 20px;
  width:280px
}

dl#board .profile img {
  float:left;
  margin:0 10px 5px 0;
  border:2px solid #900;
}

dl#board .profile dt {
  font-family:DejaVu Serif, Georgia, serif;
  font-size:0.8em;
  margin-bottom:0.3em;
}

dl#board .profile dd {
  color:#900;
  font-size:1.2em;
  font-weight:400;
}

dl#board .profile p {
  font-size:0.8em;
}
/***********************
 * Sponsor Page CSS
 ***********************
 */

/*
ul#sponsorships li {
  display:inline;
  float:left;
  padding:0 10px;
  width:300px;
  font-size:0.7em;
}

ul#sponsorships li h3, ul#sponsorships li p {
  float:none;
  width:100%;
}

ul#sponsorships .aside {
  display:block;
  width:100%;
  float:none;
}
*/

/***********************
 * Activities Page CSS
 ***********************
 */

.we {
  position:absolute; left:70px;
  font-family:DejaVu Serif;
  font-size:3em;
  color:#fff;
  text-shadow:0 3px 0 #000;
}

.slideshow .we {
  position:static;
  font-size:1em;
  visibility:hidden;
}

.slideshow {
  position:relative;
  width:960px;
  overflow:hidden;
}

.slideshow .slideContainer { 
  position:relative;
}

.slideshow .slideContainer .slide {
  float:left;
  width:820px;
  padding:0 70px 30px;
}

.slideshow .control.next, .slideshow .control.last {
  position:absolute; top:50%; margin-top:-100px;
  width:50px;
  height:0;
  padding-top:200px;
  overflow:hidden;
  cursor:pointer;
  opacity:0.8;
  filter:alpha(opacity=80);
}
  
.slideshow .control:hover {
  opacity:1.0;
  filter:alpha(opacity=100);
}

.slideshow .control.next {
  background:transparent url('/images/right.png') center no-repeat;
  right:0;
}
.slideshow .control.last { 
  background:transparent url('/images/left.png') center no-repeat;
  left:0;
}

.slideshow .slideLinks {
  position:absolute; bottom:0;
  margin:0 auto;
}
  
.slideshow .slideLinks .control {
  cursor:pointer;
  position:relative;
  float:left;
  width:10px;
  height:0;
  margin-left:10px;
  padding-top:10px;
  overflow:hidden;
  background-color:#fff;
  border-radius:5px;
}

/***************
 * HOMEPAGE CSS
 ***************
 */

h1.home { 
  text-align:center;
  height:300px; 
}

.home.container {
  position:relative;
  top:-30px;
}

.home div {
  width:320px;
  float:left;
}

#main .home div:last-child { margin:0; }

.home div h2 { 
  margin:0; padding:0 30px;
  color:#fff;
  font-family:'Open Sans', Aller, Helvetica, Arial, sans-serif;
  font-style:normal;
  font-size:0.8em;
  line-height:2em;
  height:30px;
  border-top:none;
  border-right:1px solid #000; 
}

.home div:first-child h2 {
  border-left:1px solid #000;
}
.home div p {
  height:150px;
  overflow:auto;
  font-size:0.7em;
  font-weight:400;
  padding:20px 30px 0;
  border-right:1px solid #900;
}
.home div:first-child p {
  border-left:1px solid #900;
}

ul#events {
  height:150px;
  font-size:0.8em;
  padding:20px 30px 0;
  border-right:1px solid #900;
}

ul#events li:first-child { border-top:1px solid #aaa }
ul#events li { border-bottom:1px solid #aaa }

ul#events li a {
  color:#222;
  display:block;
  padding:6px;
  width:100%;
  overflow:hidden;
  position:relative;
  left:-6px;
}

ul#events li a:hover {
  text-decoration:none;
  background-color:#eee;
  border-left:5px solid #900;
  left:-11px;
  color:#0182ac;
}

ul#events li a .date { 
  color:#900;
  margin-right:3px; 
}

ul#events li #load-placeholder {
  display:block;
  padding:16px 0;
  position:relative;
}

ul#events li #load-placeholder:after {
  content:"";
  background-image:url('/images/ajax-loader.gif');
  width:16px; height:16px;
  position:absolute;
  left:7em;
}

