<h1>Who Are We?</h1>
<p>
ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery dedicated to promoting interdisciplinary computing on campus. We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.
</p>
<p>
We are able to provide funding for start-up projects and initiatives thanks to our generous <%= link_to('supporters', partners_path) %>. Check out some of our apps built for the CMU community!
</p>
<p>
We also publish ACM Communications, a tech newsletter on current trends and topics in the computing world presented in a manner that is understandable by students of all majors. You can read the current issue or browse the archive of articles.
</p>
<h2><%= link_to('ACM@CMU Board, 2011-2012', board_path) %></h2>
