<h1>Who Are We?</h1>
<p>
ACM@CMU is Carnegie Mellon's student chapter of the Association for Computing Machinery, the leading premier organization for computing professionals. We are dedicated to promoting interdisciplinary computing and enabling professional development on campus. 
<!--We connect students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.-->
</p>
<!--
<h2>Our Vision</h2>

<h2>Our Mission</h2>
-->
<h2>The People who Drive ACM@CMU</h2>
<dl id="board">
  <div class="profile">
    <!-- image goes here -->
    <dt>President</dt>
    <dd>Eric Wu</dd>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque.  
    </p>
  </div>
  <div class="profile">
    <dt>Vice President</dt>
    <dd>John Doe</dd>
    <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Treasurer</dt>
    <dd>Money Bags</dd>
    <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Public Relations</dt>
    <dd>&lt;3 Everyone</dd>
    <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>Secretary</dt>
    <dd>HelloMyNameIs</dd>
    <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
  <div class="profile">
    <dt>IT</dt>
    <dd>Hello World</dd>
    <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at dignissim neque. Aenean ligula lectus, ultrices vel volutpat quis, hendrerit eu eros. Vivamus commodo semper elit, sed elementum ligula porta et. Morbi euismod justo non turpis rhoncus in vulputate mi pellentesque. 
    </p>
  </div>
</dl>
<!--<h2>Our Constitution</h2>-->
