<h1>Who Are We?</h1>
<p>
ACM@CMU is the Carnegie Mellon chapter of the Association for Computing Machinery (ACM). Established in 2008, we are a quickly growing organization that is dedicated to promoting all aspects of interdisciplinary computing on campus.
</p>
We connect you to:
<ul>
  <li>Industry recruiters and representatives through industry partnered events
  <li>Corporate execs, VPs, and world-famous experts through informal Meet-n-Greet’s
  <li>Students, alumni, faculty, and industry members who give guest lectures
  <li>Resources, funding, and advisors to start research projects, initiatives, and even companies
  <li>Your peers and other students who you might want to collaborate with on research projects, start start-ups, mingle at social events with, etc.
  <li>… and so much more!
</ul>
<p>
Last year, we launched the first tech newsletter at CMU, ACM Communications, had events with Google and Facebook, hosted our first programming competition, and much more. We’re hoping to build off of that momentum and do even greater things this year!
</p>
<h2>Links for Adam</h2>
<%= link_to('partners', partners_path) %><br />
<%= link_to('board', board_path) %>
