<h1>ACM@CMU apps</h1>

<table style="margin-left: auto; margin-right: auto; font-weight: bold; border: 1px solid black;">
  <tr>
   <td style="border: 1px solid black;">Shuttleman image</td>
   <td style="border: 1px solid black;">APP NAME IMAGE LINK HERE</td>

  </tr>
  <tr>
    <td style="border: 1px solid black;">APP NAME IMAGE LINK HERE</td>
    <td style="border: 1px solid black;">VINCENT, BE CREATIVE HERE!!</td>
  </tr>
</table>
