<h1 style="text-align: center;">ACM Board Members</h1>

<table style="width: 300px; margin-left: auto; margin-right: auto;">
  <tr>
  <th>Role</th><th>Member</th>
  </tr>
  <tr>
    <td>President</td><td>Eric Wu</td>
  </tr>
  <tr>
    <td>Vice President</td><td>Jen Solyanik</td>
  </tr>
  <tr>
    <td>SOMETHING</td><td>Jason MacDonald</td>
  </tr>
  <tr>
    <td>Chief of Software</td><td>Adam Weis</td>
  </tr>
  <tr> 
   <td>Bitch</td><td>Will Zhang</td>
  </tr>
</table>
