<h1 style="text-align: center;">ACM Board Members</h1>

<table style="width: 300px; margin-left: auto; margin-right: auto;">
  <tr>
  <th>Role</th><th>Member</th>
  </tr>
  <tr>
    <td>President</td><td>Eric Wu</td>
  </tr>
  <tr>
    <td>Vice President</td><td>Jen Solyanik</td>
  </tr>
  <tr>
    <td>Secretary</td><td>Dixie ???????</td>
  </tr>
  <tr>Finance</td><td>Eugene Linkov</td>
  </tr>
  <tr>
    <td>IT Chair</td><td>Jason MacDonald</td>
  </tr>
  <tr>
    <td>PR<td><td>Eric Wu doesnt even know....</td>
  </tr>
  <tr>
  </tr>
  <tr>
    <td>ACMC</td><td>Shashank Pradhan</td>
  </tr>
  <tr>
   <td>Design</td><td>Vincent Siao</td>
  </tr>
  <tr>
   <td>Lecturererererre</td><td>Avesh Singh</td>
  </tr>
  <tr>
    <td>Chief of Software</td><td>Adam Weis</td>
  </tr>
  <tr> 
   <td>Bitch</td><td>Will Zhang</td>
  </tr>
</table>
