<h1>contact</h1>

<p>
Contact acm-board AT lists DOT andrew DOT cmu DOT edu if you’re interested in becoming an active member or subscribing to our public d-list of notifications/events. Invite your friends, attend events, and meet new people! We’re open to anyone who’s interested in anything related to computing. ACM@CMU promotes interdisciplinary work, so people from all majors are encouraged to join us!

</p>
