<div class="headline">
<h1 class="home"><img src="/images/home-schedule.png" alt="schedule+ - share your schedule with friends" style="margin:auto;" /></h1>
</div>
<div class="home container">
<div>
<h2>Company of the Week</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis semper convallis. Praesent fermentum euismod aliquet. Etiam cursus dolor non lacus vestibulum condimentum sed ut neque. Ut tincidunt, odio et egestas varius, ligula velit consequat ipsum, vel hendrerit sapien purus non nibh.</p>
</div>
<div>
<h2>Upcoming Events</h2>
<ul id="events">
  <li><span id="load-placeholder">Loading...</span></li>
</ul>
<!--<ul id="events">
  <li><a href="#"><span class="date">06/04</span> This is Your Next Event</a></li>
  <li><a href="#"><span class="date">07/04</span> Kinect Party</a></li>
  <li><a href="#"><span class="date">08/28</span> Annual General Body Meeting</a></li>
</ul>-->
</div>
<div>
<h2>About Us</h2>
<p>
ACM@CMU is Carnegie Mellon University's student chapter of the Association for Computing Machinery, the world's largest organization for computing professionals. <a href="/we">Learn more</a> about our day-to-day activities, or 
<a href="#">subscribe</a>
to our dlist.
</p>
</div>
<!-- CALENDAR
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=4k7vn521n3ok8vrb8k8niegohk%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="960" height="300" frameborder="0" scrolling="no"></iframe>
-->
<!--2952A3-->
</div>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load("gdata", "1.x", { packages: ["calendar"] });
</script> 
<script src="/javascripts/jquery.googlecalreader-1.0.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.gCalReader({
    feedUri:'https://www.google.com/calendar/feeds/4k7vn521n3ok8vrb8k8niegohk%40group.calendar.google.com/public/full',
    maxresults:5
  });
});
</script>
