<h1>Join ACM@CMU</h1>

discuss the benefits of joining!! free food yay! networking! talk about the different tiers of membership and how we encourage people to come to our (non-private networking) events even if theyre not members; priority at events
