<div class="headline">
  <div class="container">
  <h1>Discover Your Potential</h1>
  <p>
  <img src="/images/check.png" style="float:right; margin-left:10px" alt="Join acm@cmu!" />
  Are you passionate about technology? Do you want to make a difference? Are you looking for employment? Do you enjoy free food? If you answered yes to any of these questions, ACM@CMU could be the right organization for you.
  </p>
  </div>
</div>
<div class="content container">
<div class="aside">
<!--<h2>How to Join</h2>-->
We have weekly general body meetings at 4:30pm on Thursdays; check out the <em>calendar</em> to see where the meeting is. Can’t make our general body meetings? 
<a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=en_US&formkey=dEE5Z3RCaHBZUFl4WDBpa0VGM29nR0E6MQ#gid=0">Declare</a>
your joining intent, and we will find a way to integrate you into our club. Not ready to take the leap? Come check out one of our events!
</div>
<p>
ACM@CMU is dedicated to advancing technology and computing as a profession across campus. We have no member limit and welcome any and all majors—the more the merrier. ACM@CMU hosts many career oriented and social events, including tech talks, programming competitions, and even Kinect parties. <a href="/we">Learn more</a> about our activities.
</p>
<p>
Still not convinced? Many students at Carnegie Mellon complain that they don’t get nearly as much out of a club as they put in. ACM is different. Due to very generous corporate sponsorship, we are able to host a plethora of fun, well attended events without spending hours and hours fundraising. ACM also provides its members a strong support base on academic, social, extracurricular and professional fronts.
</p>
</div>
