<h1>Join ACM@CMU</h1>
<p>
Are you passionate about technology? Do you like making a difference? Are you looking for employment? Do you like free food? If you answered yes to any of those questions, ACM might be the right club for you.
</p>
<p>
ACM@CMU is Carnegie Mellon University’s chapter of Association of Computing Machinery, a professional computing organization. We have no member limit and welcome any and all majors—the more the merrier. ACM hosts many career oriented and social events, tech talks, programming competitions and we even publish a monthly newsletter, you can <a href="/we">read more about them</a>.
</p>
<p>
Still not convinced? Many students at Carnegie Mellon complain that they don’t get nearly as much out of a club as they put in. ACM is different. Due to very generous corporate sponsorship, we are able to host a plethora of fun, well attended events without spending hours and hours fundraising. ACM also provides its members a strong support base on academic, social, extracurricular and professional fronts.
</p>
<h2>How to Join</h2>
<p>
We have weekly general body meetings at 4:30pm on Thursdays; check out the <em>calendar</em> to see where the meeting is. Can’t make our general body meetings? No problem! Declare your joining intent on this <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=en_US&formkey=dEE5Z3RCaHBZUFl4WDBpa0VGM29nR0E6MQ#gid=0">google doc</a>, and we will find a way to integrate you into our club. Not ready to take the leap? Come check out one of our events!
</p>
