<div class="headline">
  <div class="container">
  <h1>T-Shirt Design Challenge!</h1>
  <p>
  <img src="/images/light.png" alt="Sponsor acm@cmu!" />
  Got a creative idea or a killer one-liner? Join us in designing ACM’s T-Shirt over the Winter and see your work walk around campus all semester! Submissions due 1st week of Spring ’13. Details below!
  </p>
  </div>
</div>
<div class="content container">
<!--<h2>Discover Diverse Talent</h2>-->
<div class="aside">
<!--<img src="/images/freefood.png" style="float:left; margin-right:10px" alt="Free Food is Good Food!" />-->
You can influence the attire of literally <i>dozens</i> of students!
</div>
<p>
Welcome to the ACM@CMU T-Shirt Design Challenge! Here’s how to get started!
</p>
<p>
<u>Instructions</u>
</p>
<p>
1.  Make a design by using your own tools or get started right away with this <a href="http://www.customink.com/lab">Online T-Shirt Designer</a>
</p>
<p>
2.  Send your design to <a href="mailto:acm.tshirts@gmail.com">acm.tshirts@gmail.com</a> by <b>19 January 2013!</b> Please include the following details. When submitting your design, do remember to include:
</p>
<p>
Name, Andrew ID, Contact Number, Preferred Email
</p>
<p>
3.  Note: If you are using the custom ink online designer, you may share the design directly with us (together with your Andrew ID and details).
</p>
<p>
4.  Do note the <b>requirements and rules</b>. We will respond when your submission has been accepted.
</p>
<p>
5.  We look forward to see your awesome designs on our shirts for the years to come!
</p>
<p>
<u>Prizes</u>
</p>
<p>1. TBA</p>
<p>2. You will also get a T-Shirt of course! &#9786;</p>
<p>
<u>Rules/Requirements</u>
</p>
<p>
1. Use of <a href='<%= url_for("images/title.png") %>'>ACM Logo (Click here to download)</a> in the design </p>
<p>
2. No profanity or offensive material/messages
</p>
<p>
3. For any additional information, queries or help, please contact <a href="mailto:acm.tshirts@gmail.com">acm.tshirts@gmail.com</a>
</p>
<!--
<h2>How You Can Help</h2>
<ul id="sponsorships">
<li>
  <h3>Company of the Week Sponsorship - $200</h3>
  <div class="aside">
  Short summary of sponsorship benefits goes here + Swag
  <ul>
  <li>Presentation:</li>
  <li>General overview</li>
  <li>What your company does</li>
  <li>Who your company's CEO is</li>
  <li>Vision, Mission, Values</li>
  <li>What's unique about your company</li>
  <li>What separates your company from others</li>
  <li>What technology your company uses</li>
  <li>Technical interview question</li>
  <li>Behavioral interview question</li>
  </ul>
  </div>
  <p>
  This year, in response to corporate and student feedback,
  ACM is introducing Company of the Week. Being the Company of the Week entitles your organization to the following benefits: front page advertising on our website, an insert in our publication ACM communications, and a presentation at our weekly general body meetings.
  </p>
  <p>
  We believe that this will be mutually beneficial because it gives companies a cheap and effective way to gain a stronghold with Carnegie Mellon students and it gives students more exposure to different types of companies, a better chance to prepare for and shine at interviews with your company. We will use the funds to purchase food for the meeting and to subsidize general operations.
  </p>
</li>
<li>
  <h3>ACM Communications Sponsorship - $500</h3>
  <div class="aside">
  Short summary of sponsorship benefits goes here
  </div>
  <p>
  Upon sponsoring an issue of ACM Communications, ACM will dedicate an issue to your company and its industry or to a topic of your choice. We will write two in-depth articles and interview someone from your company. Over 300 copies of ACM-C are broadly distributed every month to key locations around the university; this is one of the most effective ways to reach students that are otherwise invisible to standard outreach.
  </p>
  <p>
  ACM Communications sponsorship includes a complimentary Company of the Week sponsorship.
  </p>
</li>
<li>
  <h3>Photo Sponsor - $600</h3>
  <div class="aside">
  Short summary of sponsorship benefits goes here
  </div>
  <p>
  ACM is making a big push for marketing and institutional history. As such, we would like a high quality camera to record the club's history, and to enrich the content on our website and in our publications.
  </p>
  <p>
  The money will be used to purchase a Canon Powershot G12, a memory card, a case for the camera and an external hard drive. In return, we will add a caption under each picture we publish stating <em>Camera courtesy of &lt;Your Company Name Here&gt;</em>. We will also attach a label to the camera, hard drive and case with your company's logo.
  </p>
</li>
</ul>-->
</div>
