<div class="headline">
  <div class="container">
  <h1>T-Shirt Design Challenge!</h1>
  <p>
  <img src="/images/light.png" alt="Sponsor acm@cmu!" />
  Got a creative idea or a killer one-liner? Join us in designing ACM’s T-Shirt and see your work walk around campus all semester! 
  </p>
  </div>
</div>
<div class="content container">
<!--<h2>Discover Diverse Talent</h2>-->
<div class="aside">
You can influence the attire of literally <i>dozens</i> of students!
</div>
<p>
Welcome to the ACM@CMU T-Shirt Design Challenge! Here’s how to get started!
</p>
<p>
<u>Instructions</u>
</p>
<p>
1.  Make a design by using your own tools or get started right away with this <a href="http://www.customink.com/lab">Online T-Shirt Designer</a>
</p>
<p>
2.  Send your design to <a href="mailto:acm.tshirts@gmail.com">acm.tshirts@gmail.com</a>. Please include the following details. When submitting your design, do remember to include:
</p>
<p>
Name, Andrew ID, Contact Number, Preferred Email
</p>
<p>
3.  Note: If you are using the custom ink online designer, you may share the design directly with us (together with your Andrew ID and details).
</p>
<p>
4.  Do note the <b>requirements and rules</b>. We will respond when your submission has been accepted.
</p>
<p>
5.  We look forward to see your awesome designs on our shirts for the years to come!
</p>
<p>
<u>Prizes</u>
</p>
<p>TBA</p>
<p>You will also get a T-Shirt of course! &#9786;</p>
<p>
<u>Rules/Requirements</u>
</p>
<p>
Use of <a href='<%= url_for("images/title.png") %>'>ACM Logo</a> in the design </p>
<p>
No profanity or offensive material/messages
</p>
<p>
For any additional information, queries or help, please contact <a href="mailto:acm.tshirts@gmail.com">acm.tshirts@gmail.com</a>
</p>
</div>
