<h1>Sponsor ACM@CMU</h1>


<h2>Company of the Week Sponsorship</h2>

<p>
This year, in response to corporate and student feedback,
ACM is introducing Company of the Week. Being the Company of the Week entitles your organization to the following benefits: front page advertising on our website, an insert in our publication ACM communications, and a presentation at our weekly general body meetings.
</p>

<p>
We believe that this will be mutually beneficial because it gives companies a cheap and effective way to gain a stronghold with Carnegie Mellon students and it gives students more exposure to different types of companies, a better chance to prepare for and shine at interviews with your company. We will use the funds to purchase food for the meeting and to subsidize general operations.
</p>

</p>
$200 + Swag
<br />
Presentation:
General overview
What your company does
Who your company's CEO is
Vision, Mission, Values
What's unique about your company
What separates your company from others
What technology your company uses
Technical interview question
Behavioral interview question
</p>

<h2>ACM Communications Sponsorship</h2>

<p>
Upon sponsoring an issue of ACM Communications, ACM will dedicate an issue to your company and its industry or to a topic of your choice. We will write two in-depth articles and interview someone from your company. Over 300 copies of ACM-C are broadly distributed every month to key locations around the university; this is one of the most effective ways to reach students that are otherwise invisible to standard outreach. 
ACM Communications sponsorship includes a complimentary Company of the Week sponsorship.

<br />
$500

</p>


<h2>Photo Sponsor</h2>

<p>

ACM is making a big push for marketing and institutional history. As such, we would like a high quality camera to record the club's history, and to enrich the content on our website and in our publications.
</p>
<p>
The money will be used to purchase a Canon Powershot G12, a memory card, a case for the camera and an external hard drive. In return, we will add a caption under each picture we publish stating "Camera courtesy of <Your Company Name Here>". We will also attach a label to the camera, hard drive and case with your company's logo.
<br />
$600
</p>
