<div class="headline">
  <div class="container">
  <h1>Support Our Future</h1>
  <p>
  <img src="/images/light.png" style="float:right; margin-left:10px" alt="Sponsor acm@cmu!" />
  Carnegie Mellon’s current ACM chapter was founded 2008 and is one of the fastest growing clubs on campus; in our few short years, we have held various events and amassed over 20 active members. And the future is brighter yet. Take this unique opportunity to establish your organization in ours.
  </p>
  </div>
</div>
<div class="content container">
<!--<h2>Discover Diverse Talent</h2>-->
<div class="aside">
<!--<img src="/images/freefood.png" style="float:left; margin-right:10px" alt="Free Food is Good Food!" />-->
After rigorous surveying, we found that college students' favorite flavor of food is free. Do your part in helping the community by feeding hungry college students!
</div>
<p>
While diversity is often measured with statistics: over 90% of ACM members have more than one field of study, our members hail from 8 different countries, and roughly half our membership is female, our strongest measurements of diversity are often more intangible. In addition to the cognitive diversity as exemplified by our broad spectrum of <link> activities </link>, our members excel at finding their place in the organization, connecting with their peers and helping them grow. Our diverse background will provide your company ample recruitment opportunities.
</p>
<!--
<h2>How You Can Help</h2>
<ul id="sponsorships">
<li>
  <h3>Company of the Week Sponsorship</h3>
  <p>
  This year, in response to corporate and student feedback,
  ACM is introducing Company of the Week. Being the Company of the Week entitles your organization to the following benefits: front page advertising on our website, an insert in our publication ACM communications, and a presentation at our weekly general body meetings.
  </p>
  <p>
  We believe that this will be mutually beneficial because it gives companies a cheap and effective way to gain a stronghold with Carnegie Mellon students and it gives students more exposure to different types of companies, a better chance to prepare for and shine at interviews with your company. We will use the funds to purchase food for the meeting and to subsidize general operations.
  </p>
  <br />
  $200 + Swag
  <ul>
  <li>Presentation:</li>
  <li>General overview</li>
  <li>What your company does</li>
  <li>Who your company's CEO is</li>
  <li>Vision, Mission, Values</li>
  <li>What's unique about your company</li>
  <li>What separates your company from others</li>
  <li>What technology your company uses</li>
  <li>Technical interview question</li>
  <li>Behavioral interview question</li>
  </ul>
</li>
<li>
  <h3>ACM Communications Sponsorship</h3>
  <p>
  Upon sponsoring an issue of ACM Communications, ACM will dedicate an issue to your company and its industry or to a topic of your choice. We will write two in-depth articles and interview someone from your company. Over 300 copies of ACM-C are broadly distributed every month to key locations around the university; this is one of the most effective ways to reach students that are otherwise invisible to standard outreach. 
  </p>
  <p>
  ACM Communications sponsorship includes a complimentary Company of the Week sponsorship.
  </p>
  <br />
  $500
</li>
<li>
  <h3>Photo Sponsor</h3>
  <p>
  ACM is making a big push for marketing and institutional history. As such, we would like a high quality camera to record the club's history, and to enrich the content on our website and in our publications.
  </p>
  <p>
  The money will be used to purchase a Canon Powershot G12, a memory card, a case for the camera and an external hard drive. In return, we will add a caption under each picture we publish stating <em>Camera courtesy of &lt;Your Company Name Here&gt;</em>. We will also attach a label to the camera, hard drive and case with your company's logo.
  </p>
  <br />
  $600
</li>
</ul>
-->
</div>
