<div class="headline">
  <div class="container">
  <h1>Sign up for ACM Updates!</h1>
  <p>
    Simply! Just sign up for the public mailing list: <a href="https://lists.andrew.cmu.edu/mailman/listinfo/acm-public">https://lists.andrew.cmu.edu/mailman/listinfo/acm-public</a>
    </p>

    <p>
    Also, we have a public calendar that you can also follow: <a href="https://www.google.com/calendar/embed?src=NGs3dm41MjFuM29rOHZyYjhrOG5pZWdvaGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">ACM Public Calendar</a>
      </p>
  </div>
</div>
