<h1>This Is What We Do.</h1>

<%
# what we do page -
# I want a 2x2 grid with these 4 things (arranged in no particular order) each box in this grid should link to a new page for each of these 4 items. I want to the url to be www.xxx.com/we/ for this base page and then subsequent pages will be on urs like www.xxx.com/we/get-jobs/, www.xxx.com/we/code/, www.xxx.com/we/make-projects-happen, www.xxx.com/we/publish-journals.
%>
<ul id="we-menu">
<li><a href="#" id="link-jobs">get jobs</a></li>
<li><a href="#" id="link-code">code</a></li>
<li><a href="#" id="link-projects">make projects happen</a></li>
<li><a href="#" id="link-journals">publish journals</a></li>
</ul>
<div id="we-jobs">
<a href="#" class="we-back">back</a>
Get Jobs, Internships and research opportunities
ACM connects students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.
</div>
<div id="we-code">
<a href="#" class="we-back">back</a>
Service through Code
We build applications designed to make the lives of those in the Carnegie Mellon Community easier
</div>
<div id="we-projects">
<a href="#" class="we-back">back</a>
Make Projects Happen
If you have a great idea but you can’t implement it yourself, ACM can help provide expert coders in addition to startup and maintainence funds to turn your idea into reality.
</div>
<div id="we-journals">
<a href="#" class="we-back">back</a>
[I’ll fix this wording later.]  We also publish ACM Communications, a tech newsletter on current trends and topics in the computing world presented in a manner that is understandable by students of all majors. You can read the current issue or browse the archive of articles.
</div>

