<h1>This Is What We Do.</h1>


what we do page -
<!--I want a 2x2 grid with these 4 things (arranged in no particular order) each box in this grid should link to a new page for each of these 4 items. I want to the url to be www.xxx.com/we/ for this base page and then subsequent pages will be on urs like www.xxx.com/we/get-jobs/, www.xxx.com/we/code/, www.xxx.com/we/make-projects-happen, www.xxx.com/we/publish-journals. -->
<p>
<a href="#jobs">get jobs</a>
</p>
<p>
<a href="#code">code</a>
</p>
<p>
<a href="#projects">make projects happen</a>
</p>
<p>
<a href="#journals">publish journals</a>
</p>




<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />























<p>
<a name ="jobs"></a>
Get Jobs, Internships and research opportunities
ACM connects students to industry-leading experts and recruiters, as well as pioneering faculty and alumni.
</p> 



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<p>
<a name ="code"></a>
Service through Code
We build applications designed to make the lives of those in the Carnegie Mellon Community easier
</p> 
<p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<a name ="projects"></a>
Make Projects Happen
If you have a great idea but you can’t implement it yourself, ACM can help provide expert coders in addition to startup and maintainence funds to turn your idea into reality.
</p> 



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<p>
<a name ="journals"></a>
[I’ll fix this wording later.]  We also publish ACM Communications, a tech newsletter on current trends and topics in the computing world presented in a manner that is understandable by students of all majors. You can read the current issue or browse the archive of articles.
</p> 







<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



