<script src="/javascripts/jquery.ba-hashchange.min.js" type="text/javascript"></script>
<script src="/javascripts/slideshow.js" type="text/javascript"></script>

<div class="headline">
<div class="container">
  <span class="we">We</span>
  <div class="slideshow">
  <ul class="slideContainer">
    <li class="slide" title="are">
      <img src="/images/we-main.png" height="400" alt="This is What We Do" style="float:none;margin:0 auto;" />
    </li>
    <li class="slide" title="work">
      <h1><span class="we">We</span> Work.</h1>
      <p>
      ACM@CMU partners with employers to provide students networking and, ultimately, employment  opportunities. We host both large and small scale events that provide intimate access to highly  competitive and sought after employers. 
      </p>
      <div class="article container">
      <h2>Join Us. ???. Profit.</h2>
      <p>
      Types of past events that we've hosted include  information sessions, programming competitions and tech talks. ACM also hosts private  networking events with companies for active members. All our events are well stocked with  food. Check out a list of our partners below.
      </p>
      If you're interested in finding employment opportunities, <%=link_to("join ACM@CMU", join_path) %>.
      </div>
    </li>
    <li class="slide" title="code">
      <h1><span class="we">We</span> Code.</h1>
      <p>
      At ACM@CMU, we are passionate about technology and service. We develop applications that benefit the Carnegie Mellon community at large. 
      </p>
      <div class="article container">
  <h2>More Than Just Code</h2>
  Our current applications (including this website) have primarily been developed in Ruby on Rails but we are open to and welcome all technologies. Check out a few of our applications below!

  If you are interested in developing software with a cause, <%=link_to("join ACM@CMU", join_path) %>.
      </div>
    </li>
    <li class="slide" title="play">
      <h1><span class="we">We</span> Play.</h1>
      <p>
      While much of what ACM does it career or self development oriented, we understand the importance of friends and relaxation. ACM often hosts get-togethers including bonding dinners, pickup frisbee games, and Kinect parties.
      </p>
      <div class="article container">
    <h2>Food &amp; Games</h2>
    If you're interested in having a good time and enjoying delicious food, <%=link_to("join ACM@CMU", join_path) %>.

      </div>
    </li>
    <li class="slide" title="write">
      <h1><span class="we">We</span> Share.</h1>
      <p>
    ACM regularly organizes a variety of talks ranging from interesting topics like “How to prepare for a tech interview” to a range of technical topics from “An introduction to Rasberri Pi”, “Debugging Distributed Systems” to “Crossing Numbers, Humanity and Beauty of Math”.
      </p>
      <div class="article container">
  <h2>ACM Communications</h2>
  If you're interesting in getting to know Carnegie Mellon's top students and professors, writing or publication design, <%=link_to("join ACM@CMU", join_path) %>.

      </div>
    </li>
  </ul>
  </div>
</div>
</div>
