<h1>This Is What We Do.</h1>


what we do page -
I want a 2x2 grid with these 4 things (arranged in no particular order) each box in this grid should link to a new page for each of these 4 items. I want to the url to be www.xxx.com/we/ for this base page and then subsequent pages will be on urs like www.xxx.com/we/get-jobs/, www.xxx.com/we/code/, www.xxx.com/we/make-projects-happen, www.xxx.com/we/publish-journals.
